# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# MLflow
mlruns/

# Data (optional if large)
data/raw/*.csv
data/processed/*.csv
data/features/*.csv

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db